<!-- leaderboards.ejs -->
<%- include('partials/header') %>
<main>
    <h1>Leaderboards</h1>
    <table>
        <tr>
            <th>Rank</th>
            <th>Streak</th>
            <th>Date</th>
        </tr>
        <% topStreaks.forEach((entry, index) => { %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= entry.streak %></td>
            <td><%= entry.date.toLocaleString() %></td>
        </tr>
        <% }) %>
    </table>
    <a href="/">Return Home</a>
</main>
</body>
</html>
