<%- include('partials/header') %>
<main>
    <h1>FINISHED</h1>
    <p>Your streak was: <%= lastStreak %></p>
    <a href="/quiz">Start a New Quiz</a>
    <a href="/">Return Home</a>
</main>
</body>
</html>